html {
	overflow-y: scroll;
}

body {
	background: #000;
}

.content {
	margin: 0 auto;
	margin-top: 60px;
	width: 500px;
	height: 540px;
}

table {
	width: 100%;
	height: 100%;
	background: #fff;
	color: #fff;
	border-collapse: separate;
	empty-cells: show;
	
}

tr {
	height: 1px;
}

td {
	width: 1px;
	height: 1px;
	border: 5px solid #000;
}

.yellow {
	background: #fff063;
	color: #fff063;
}

.red {
	background: #fe5933;
	color: #fe5933;
}

.gray {
	background: #232c28;
	color: #232c28;
}

.blue {
	background: #05437f;
	color: #05437f;
}