html {
	overflow-y: scroll;
}

body {
	background: #bdbdbd;
}

table {
	margin: auto;
    margin-top: 40px;
    border: 20px solid #bdbdbd;
    background: #fff;
}

td {
    box-sizing: border-box;
    border: 10px solid #000;
}

tr:nth-child(1) {
  height: 60px;
}

tr:nth-child(2) {
  height: 140px;
}

tr:nth-child(3) {
  height: 140px;
}

tr:nth-child(4) {
  height: 70px;
}

tr:nth-child(5) {
  height: 70px;
}

tr:nth-child(6) {
  height: 35px;
}

tr:nth-child(7) {
  height: 45px;
}

tr:nth-child(1) td:nth-child(3) {
  background-color: #fff063;
}

tr:nth-child(2) td:nth-child(2) {
  background-color: #fe5933;
}

tr:nth-child(2) td:nth-child(3) {
  background-color: #fff063;
}

tr:nth-child(3) td:nth-child(2) {
  width: 85px;
}

tr:nth-child(4) td:nth-child(1) {
  width: 70px;
  background-color: #232c28;
}

tr:nth-child(4) td:nth-child(2) {
  width: 70px;
  background-color: #232c28;
}

tr:nth-child(4) td:nth-child(3) {
  width: 140px;
}

tr:nth-child(4) td:nth-child(4) {
  width: 180px;
}

tr:nth-child(5) td:nth-child(1) {
  width: 60px;
  background-color: #fff063;
}

tr:nth-child(5) td:nth-child(2) {
  width: 70px;
  background-color: #232c28;
}

tr:nth-child(5) td:nth-child(3) {
  width: 70px;
  background-color: #232c28;
}

tr:nth-child(5) td:nth-child(4) {
  width: 60px;
}
  
tr:nth-child(5) td:nth-child(5) { 
  background-color: #05437f;
}

tr:nth-child(6) td:nth-child(2) {
  background-color: #232c28;
}

tr:nth-child(6) td:nth-child(3) {
  width: 60px;
}
